@page "/"
@attribute [Authorize]

<AuthorizeView Context="authContext">
    <Authorized>
        <Container Fluid="true">
            <Breadcrumb Mode="BreadcrumbMode.Auto">
                <BreadcrumbItem>
                    <BreadcrumbLink To="">Início</BreadcrumbLink>
                </BreadcrumbItem>
            </Breadcrumb>
            <Row>
                <Column ColumnSize="ColumnSize.Is12">
                    <Heading Size="HeadingSize.Is3">Início</Heading>
                    @if (authContext.User.IsInRole("temp")) //substituir por Admins
                    { }
                </Column>
            </Row>
        </Container>

</Authorized>
    <NotAuthorized>
        <p>Não está logado.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
