@page "/template"
@attribute [Authorize]

@using Syncfusion.Blazor.Cards

<AuthorizeView>
    <Authorized>
        <div class="col-lg-12 col-md-12 col-sm12 col-12">
            <SfCard>
                <CardHeader>
                    <h4>File Upload</h4>
                </CardHeader>
                <CardContent>

                </CardContent>
                <CardFooter>

                </CardFooter>
            </SfCard>
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Não está logado.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
